* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  padding: 0 30px;
}
header {
  height: 60px;
}
header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
header nav {
  display: flex;
  align-items: center;
  position: relative;
}
header nav img {
  width: 100%;
  height: auto;
}
header nav > * {
  margin-left: 16px;
}
header nav a:hover {
  text-decoration: underline;
}
header nav .google__application__toggle,
header nav .google__user__toggle {
  cursor: pointer;
}
header nav .google__application__toggle {
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
}
header nav .google__application__toggle:active {
  background-color: #d6d5d5;
}
header nav .google__user__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #004d40;
  color: #fff;
  border-radius: 50%;
}
header nav .google__modal {
  margin: 0;
  width: 328px;
  height: 448px;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px #cccccc;
  border-radius: 8px;
  padding: 20px;
  pointer-events: none;
  z-index: 999;
  opacity: 0;
  transition: all 0.15s ease;
}
header nav .google__modal::-webkit-scrollbar {
  width: 6px;
}

/* Track */
header nav .google__modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

/* Handle */
header nav .google__modal::-webkit-scrollbar-thumb {
  background: #b0b0be;
  border-radius: 10px;
}

header nav .google__modal.show {
  opacity: 1;
  pointer-events: auto;
}
header nav .google__modal * {
  margin: 0;
}
header nav .google__modal .google__products {
  display: grid;
  grid-template-columns: repeat(3, 84px);
  justify-content: space-between;
  row-gap: 16px;
}
header nav .google__modal .google__products li {
  width: 84px;
  height: 84px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
header nav .google__modal .google__products li:hover {
  background-color: #eeeeff;
}
header nav .google__modal .google__products li .products__icon {
  width: 100%;
  height: 64px;
  background-image: url("https://ssl.gstatic.com/gb/images/p1_cfd8cf40.png");
  background-repeat: no-repeat;
  background-position-x: center;
}
header nav .google__modal .google__products li.accounts .products__icon {
  background-position-y: -2137px;
}
header nav .google__modal .google__products li.search .products__icon {
  background-position-y: -894px;
}
header nav .google__modal .google__products li.maps .products__icon {
  background-position-y: -1311px;
}
header nav .google__modal .google__products li.youtube .products__icon {
  background-position-y: -2826px;
}
header nav .google__modal .google__products li.play .products__icon {
  background-position-y: -1035px;
}
header nav .google__modal .google__products li.news .products__icon {
  background-position-y: -1583px;
}
header nav .google__modal .google__products li.gmail .products__icon {
  background-position-y: -2758px;
}
header nav .google__modal .google__products li.meet .products__icon {
  background-position-y: -1171px;
}
header nav .google__modal .google__products li.contacts .products__icon {
  background-position-y: -1932px;
}
header nav .google__modal .google__products li.drive .products__icon {
  background-position-y: -1863px;
}
header nav .google__modal .google__products li.calendar .products__icon {
  background-position-y: -1518px;
}
header nav .google__modal .google__products li.translate .products__icon {
  background-position-y: -2001px;
}
header nav .google__modal .google__products li.photos .products__icon {
  background-position-y: -69px;
}
header nav .google__modal .google__products li.duo .products__icon {
  background-position-y: -1794px;
}
header nav .google__modal .google__products li.shopping .products__icon {
  background-position-y: -1380px;
}
header nav .google__modal .google__products li.docs .products__icon {
  background-position-y: -690px;
}
header nav .google__modal .google__products li.sheets .products__icon {
  background-position-y: -2553px;
}
header nav .google__modal .google__products li.slides .products__icon {
  background-position-y: 0;
}
header nav .google__modal .google__products li.books .products__icon {
  background-position-y: -621px;
}
header nav .google__modal .google__products li.hangouts .products__icon {
  background-position-y: -2415px;
}
header nav .google__modal .google__products li.keep .products__icon {
  background-position-y: -483px;
}
header nav .google__modal .google__products li.jamboard .products__icon {
  background-position-y: -1242px;
}
header nav .google__modal .google__products li.earth .products__icon {
  background-position-y: -207px;
}
header nav .google__modal .google__products li.collections .products__icon {
  background-position-y: -2346px;
}
header nav .google__modal .google__products li.arts .products__icon {
  background-position-y: -828px;
}
header nav .google__modal .google__products li.google__ads .products__icon {
  background-position-y: -1449px;
}
header nav .google__modal .google__products li.podcasts .products__icon {
  background-position-y: -345px;
}
.btn__center__container {
  margin-top: 28px !important;
  text-align: center;
}
a.btn__more {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a73e8;
  display: inline-block;
  font: 500 14px/16px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin: 16px 0 20px 0;
  max-width: 265px;
  outline: 0;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto;
}
a.btn__more:hover {
  text-decoration: none;
  background-color: #f8fbff;
  border-color: #cce0fc;
}
section {
  flex-grow: 1;
  padding-top: 80px;
}
section .google__logo__container {
  text-align: center;
}
section .google__form__container {
  max-width: 584px;
  margin: 0 auto;
}
section form,
section .google__change__language {
  text-align: center;
}
section form button {
  background: #f8f9fa;
  border: 1px solid #f8f9fa;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  height: 36px;
  padding: 0 16px;
  margin: 11px 4px;
}
section form button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
  background: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
section .input__container {
  display: grid;
  grid-template-columns: 33px 1fr 32px 40px;
  align-items: center;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 4px 8px 0 16px;
  margin-bottom: 18px;
}
section .input__container input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  height: 34px;
  font-size: 16px;
  margin-bottom: 4px;
}
section .input__container .search__icon {
  padding-right: 10px;
}
section .input__container .input__sound__icon {
  padding: 0 8px;
}
section .input__container img {
  max-height: 44px;
  width: auto;
}
section .input__container .delete__text__icon {
  position: relative;
  transition: all 0.25s ease;
  opacity: 0;
  pointer-events: none;
}
section .input__container input {
  margin-right: 8px;
}
section .input__container .delete__text__icon img {
  margin-right: 8px;
}
section .input__container .delete__text__icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 75%;
  background: #dfe1e5;
}
.delete__text__icon.show {
  opacity: 1 !important;
  pointer-events: auto !important;
}
section .input__container .delete__text__icon img,
section .input__container .input__sound__icon img {
  cursor: pointer;
}
section .google__change__language {
  font-size: small;
}
section .google__change__language a {
  color: #1a0dab;
  margin: 0 8px;
}
footer > div {
  background-color: #f2f2f2;
}
footer > div .container {
  display: flex;
  align-items: center;
  min-height: 60px;
}
footer > div:first-child {
  border-bottom: 1px solid #dadce0;
}
footer > div:last-child .container {
  justify-content: space-between;
}
footer > div:last-child ul {
  display: flex;
}
footer > div:last-child ul:first-child li {
  margin-right: 16px;
}
footer > div:last-child ul:last-child li {
  margin-left: 16px;
}
@media (max-width: 700px) {
  footer > div:last-child .container {
    flex-direction: column;
  }
  footer > div:last-child ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
